.center-contents {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  display: -webkit-flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  height: inherit !important;
}
.center-contents-dialog {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  display: -webkit-flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  height: inherit !important;
  flex-shrink: 0 !important;
}
.left-justify-contents {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  display: -webkit-flex !important;
  -webkit-box-pack: left !important;
      -ms-flex-pack: left !important;
          justify-content: left !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  height: inherit !important;
}
.right-justify-contents {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  display: -webkit-flex !important;
  -webkit-box-pack: right !important;
      -ms-flex-pack: right !important;
          justify-content: right !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  height: inherit !important;
}
.space-between {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  display: -webkit-flex !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}
.space-between-dialog {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  display: -webkit-flex !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  flex-shrink: 0 !important;
}

.horizontal-spacer {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 1 auto !important;
          flex: 1 1 auto !important;
}

.orient-contents-vertically {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  display: -webkit-flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}
.orient-contents-vertically-dialog {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  display: -webkit-flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  flex-shrink: 0 !important;
}

.orient-contents-horizontally {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  display: -webkit-flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}
.orient-contents-horizontally-dialog {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  display: -webkit-flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  flex-shrink: 0 !important;
}

.div-wrap-size {
  display: inline-block !important;
}
.sticky-item {
  position: sticky !important;
  position: -webkit-sticky !important;
  z-index: 1000 !important;
}
.left-text {
  text-align: left !important;
}